* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.header {
  height: 40px;
  background-color: yellow;
  display: flex;
  align-items: center;
}


.nav_header {
  display: flex;
  list-style-type: none;
}

.list_item-header {
  margin-left: 16px;

}

.main {
  display: flex;
  flex-grow: 1;
}

.main_content {
  background-color: pink;
  display: flex;
  flex-grow: 1;
}

.news {
  width: 200px;
  background-color: gray;
}

.footer {
  height: 40px;
  background-color: green;
  display: flex;
}

span {
  margin: auto;
}

.title_main {
  margin: auto;
}

.nav_news {
  line-height: 40px;
  list-style-type: none;
  margin-left: 16px;
}

h2 {
  display: flex;
}

.title_news {
  margin: 16px auto;
}